site_name: Manuarsan
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

plugins:
  - search
  - blog

# This hides the sidebar on the homepage
# but keeps it for blog posts
nav:
  - Home: index.md
  - Blog: blog/index.md
